.hiring{
    text-align: center;
}

.hiring__bg{
    background-color: var(--first-color-second);
    padding-top: 3rem;
}

.hiring__title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
}

.hiring__description{
    margin-bottom: var(--mb-1-5);
}

.hiring__title,
.hiring__description{
    color: #FFF;
}

.hiring__img{
    width: 232px;
    justify-self: center;
}

@media screen and (max-width: 350) {
    .hiring__img{
        width: 200px;
    }
}

@media screen and (min-width: 568px) {
    .hiring__container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .hiring{
        text-align: initial;
    }

    .hiring__bg{
        background: none;
    }

    .hiring__container{
        background-color: var(--first-color-second);
        border-radius: 1rem;
        padding: 3rem 2.5rem 0;
        grid-template-columns: 1fr max-content;
        column-gap: 3rem;
    }

    .hiring__data{
        padding-top: .8rem;
    }
}